<!--
  This example leverages Nunjucks, a powerful templating language:
  https://mozilla.github.io/nunjucks/

  # Don't want to use Nunjucks?
    It is entirely optional. Feel free to use normal HTML instead!
-->

<!--
  Extend the global template
-->
{% extends "_template.html" %}

<!--
  Page content (gets injected into the template)
-->
{% block content %}
{% include "_page-header.html" %}


<!--
  Using the grid to make a 2-column layout
  https://www.lightningdesignsystem.com/components/utilities/grid/
-->
<div class="slds-grid">
  <!--
    First column
  -->
  <div class="slds-col slds-size--2-of-3">
    
    <!--
      Data table component
      https://www.lightningdesignsystem.com/components/data-tables/#flavor-basic-data-table-striped-rows

      Modifiers:
      - fixed layout: slds-table--fixed-layout (to make text truncation work within cells)
      - striped rows: slds-table--striped
    -->
    <table class="slds-table slds-table--bordered slds-table--cell-buffer slds-table--fixed-layout slds-table--striped">
      <thead>
        <tr class="slds-text-heading--label">
          <!--
            The first cell (Account Name) requires space for long labels,
            so we're manually setting its width to half the size of the table
            using the spacing utility slds-size--1-of-2
          -->
          <th scope="col">
            <div class="slds-truncate" title="Message Name">Message Name</div>
          </th>
          <th scope="col">
            <div class="slds-truncate" title="Type">Type</div>
          </th>
          <th scope="col">
            <div class="slds-truncate" title="Account">Account</div>
          </th>
          <th scope="col">
            <div class="slds-truncate" title="Created">Created</div>
          </th>
           <th scope="col">
            <div class="slds-truncate" title="Last Sent">Last Sent</div>
          </th>
        </tr>
      </thead>
      <tbody>
        <!--
          Looping around values in Nunjucks
          http://mozilla.github.io/nunjucks/templating.html#for
        -->
        {% for message in messages %}
        <tr>
          <th scope="row" data-label="Account Name">
            <div class="slds-truncate" title="{{ message.name }}"><a href="javascript:void(0);">{{ message.name }}</a></div>
          </th>
          <td data-label="Billing State/Province">
            <div class="slds-truncate" title="{{ message.type }}">{{ message.type }}</div>
          </td>
          <td data-label="Phone">
            <div class="slds-truncate" title="{{ message.account }}">{{ message.account }}</div>
          </td>
          <td data-label="Type">
            <div class="slds-truncate" title="{{ message.created }}">{{ message.created }}</div>
          </td>
          <td data-label="">
            <div class="slds-truncate" title="{{ message.sent }}">{{ message.sent }}</div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <!--
    Second column
  -->
  <div class="slds-p-top--medium slds-col slds-size--1-of-3">
    <div class="slds-tabs--default">
      <ul id="preview-and-performance-tabs" class="slds-tabs--default__nav" role="tablist">
        <li class="slds-tabs--default__item slds-text-title--caps slds-active" title="Item One" role="presentation"><a class="slds-tabs--default__link" href="javascript:void(0);" role="tab" tabindex="0" aria-selected="true" aria-controls="preview-tab" id="tab-default-1__item">Preview</a></li>
        <li class="slds-tabs--default__item slds-text-title--caps" title="Item Two"
          role="presentation"><a class="slds-tabs--default__link" href="javascript:void(0);" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-2" id="tab-default-2__item">Performance</a></li>
      </ul>
      <div id="preview-tab" class="slds-tabs--default__content slds-show" role="tabpanel" aria-labelledby="tab-default-1__item">
        <figure class="slds-image slds-image--card">
          <a href="javascript:void(0);" class="slds-image__crop slds-image__crop--1-by-1">
            <img src="/assets/images/phone-preview.png" alt="Description of the image" />
          </a>
          <figcaption class="slds-image__title slds-image__title--card">
            <button class="slds-button slds-button--neutral">Edit Message</button>
          </figcaption>
        </figure>
      </div>
      <div id="tab-default-2" class="slds-tabs--default__content slds-hide" role="tabpanel" aria-labelledby="tab-default-2__item">Item Two Content</div>
     
   
  </div>
</div>

<footer class="app-footer">Built using the <a href="https://github.com/salesforce-ux/design-system-starter-kit">Salesforce Lightning Design System Starter Kit</a>.</footer>
{% endblock %}
